.graphContainer {
  //   height: 20vh;
  height: 40vh;
  margin: 2%;
  background: rgba(249, 249, 249, 0.075);
  box-shadow: -6px -2px 30px rgba(255, 255, 255, 0.15),
    -6px -2px 30px rgba(0, 0, 0, 0.15);
  border-radius: 30px 30px 30px 30px;
}
.graph {
  //   height: 20vh;
  height: 40vh;
}
